body
{
    margin: 0px;
    /*background: #234163;*/
    background-image: url('/Home/pexels-bridge-walk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
}

.topbar-fixed
{
    background-color: rgb(253, 249, 0);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 2023;
    box-shadow: 0px 1px 5px lightslategray;
    border-top: 0 !important;
    height: 50px;
}

.grid-icons
{
    grid-gap: 10px;
    white-space: nowrap;
    max-width: min-content; 
    display: flex;
    margin: auto;
}

.grid-item {
    justify-items: end;
    max-height: 50px;
    font-size: 24px;
}

.home-page
{
    background-color: rgb(253, 249, 0);
    color: red;
    text-decoration: none;
    max-height: 50px;
}

.home-page:hover
{
    background-color: #9ccaff;
}

.portfolio
{
    padding: 5px 5px;
    background-color: rgb(253, 249, 0);
    color: red;
    text-decoration: none;
}

.portfolio:hover
{
    background-color: #9ccaff;
}

.hobbies
{
    padding: 5px 5px;
    background-color: rgb(253, 249, 0);
    color: red;
    text-decoration: none;
}

.hobbies:hover
{
    background-color:#9ccaff;
}

.about-me
{
    padding: 5px 5px;
    background-color: rgb(253, 249, 0);
    color: red;
    text-decoration: none;
}

.about-me:hover
{
    background-color: #9ccaff;
}

.page-name
{
    display: flex;
    text-align: center;
    font-size: 25px;
}

.main-header
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: 900;
    color: orange;
    opacity: 0;
    filter: blur(0px);
    transform: translateX(-100%);
    transition: all 2s;
}

.container
{
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

.container-icons
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.list-me
{
    font-weight: bold;
}

.list-links
{
    text-align: center;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    list-style-type: none;
}

.main-header, .show
{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .test-transition
    {
        transition: none;
    }
}

.hellobox
{
    background-color: #234163;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    padding: 50px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hello
{
    transition: 1s;
    color: orange;
    font: bold;
    font-family:'Segoe UI';
    font-size: 70px;
    text-align: center;
}

p
{
    transition: 1s;
    font-size: 30px;
    font-family: Georgia;
    color: rgb(153, 221, 44);
}