body
{
    margin: 0px;
    background: #234163;
}

.topbar-fixed
{
    background-color: rgb(253, 249, 0);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 2023;
    box-shadow: 0px 1px 5px lightslategray;
    border-top: 0 !important;
    height: 50px;
}

.grid-icons
{
    grid-gap: 10px;
    white-space: nowrap;
    max-width: min-content; 
    display: flex;
    margin: auto;
}

.grid-item {
    justify-items: end;
    max-height: 50px;
    font-size: 24px;
}

.home-page
{
    background-color: rgb(253, 249, 0);
    color: red;
    text-decoration: none;
    max-height: 50px;
}

.home-page:hover
{
    background-color: #9ccaff;
}

.portfolio
{
    padding: 5px 5px;
    background-color: rgb(253, 249, 0);
    color: red;
    text-decoration: none;
}

.portfolio:hover
{
    background-color: #9ccaff;
}

.hobbies
{
    padding: 5px 5px;
    background-color: rgb(253, 249, 0);
    color: red;
    text-decoration: none;
}

.hobbies:hover
{
    background-color:#9ccaff;
}

.about-me
{
    padding: 5px 5px;
    background-color: rgb(253, 249, 0);
    color: red;
    text-decoration: none;
}

.about-me:hover
{
    background-color: #9ccaff;
}

.page-name
{
    display: flex;
    text-align: center;
    font-size: 25px;
}

.main-header
{
    font-family: 'Times New Roman';
    font-size: 45px;
    font-weight: 900;
    color: orange;
    opacity: 0;
    filter: blur(0px);
    transform: translateX(-100%);
    transition: all 2s;
}

h1.header
{
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: rgb(0, 185, 0);
}

/*
.rows:after
{
    content: "";
    display: table;
    clear: both;
}
*/

.columns
{
    display: flex;
    flex-wrap: wrap;
}

.box
{
    background-color: rgb(253, 164, 29);
    border-radius: 20px;
    border-style: solid;
    font-size: 30px;
    float: left;
    flex: 1 0 25%;
    margin: 40px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p.hobby
{
    text-align: center;
}

p.paragraph
{
    margin: 10px;
    text-align: center;
    word-wrap: break-word;
    font-size: 22px;
    display: none;
}

.box:hover p.hobby
{
    display: none;
}

.box:hover p.paragraph
{
    display: block;
}
