body
{
    margin: 0px;
}

.topbar-fixed
{
    background-color: rgb(185, 185, 185);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 2023;
    box-shadow: 0px 1px 5px lightslategray;
    border-top: 0 !important;
    height: 50px;
}

.grid-icons
{
    grid-gap: 10px;
    white-space: nowrap;
    max-width: min-content; 
    display: flex;
    margin: auto;
}

.grid-item {
    justify-items: end;
    font-size: 24px;
}

.home-page
{
    background-color: rgb(185, 185, 185);
    color: black;
    text-decoration: none;
}

.home-page:hover
{
    background-color: lightgray;
}

.portfolio
{
    padding: 5px 5px;
    background-color: rgb(185, 185, 185);
    color: black;
    text-decoration: none;
}

.portfolio:hover
{
    background-color: lightgray;
}

.hobbies
{
    padding: 5px 5px;
    background-color: rgb(185, 185, 185);
    color: black;
    text-decoration: none;
}

.hobbies:hover
{
    background-color:lightgray;
}

.about-me
{
    padding: 5px 5px;
    background-color: rgb(185, 185, 185);
    color: black;
    text-decoration: none;
}

.about-me:hover
{
    background-color: lightgray;
}

.page-name
{
    display: flex;
    text-align: center;
    font-size: 25px;
}

.container
{
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

.container-icons
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}